{% extends 'base.html' %}

{% block content %}
  <main class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Qute</h1>
      <p class="lead my-3">You are beautiful, O city of the Messenger, may God’s prayers and peace be upon him, as if you smell the fragrance of his good morals that do not go away</p>
    </div>
  </div>
  {% for x in post.all %}
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">

          <h3 class="mb-0">{{x.title}}</h3>
          <div class="mb-1 text-body-secondary">{{x.date}}</div>
          <p class="card-text mb-auto">{{x.text}}</p>

        </div>
        </div>
       </div>
     </div>
      {% endfor %}
    {% endblock %}